#eventTime001,
#eventTime002,
#eventTime003,
#exemptionTicket,
#type1Ticket,
#type2Ticket {
    display: none;
}

main {
    margin-left: 20px;
}

main div {
    margin-top: 20px;
}

#buyTickets {
    margin-top: 20px;
}